[daemon]
; x.name = service name
; x.desc = description
; x.init = init script
; x.pattern = pid name
; x - position in mbp list

1.name = "Mikbill";
1.desc = "Billing";
1.init = "service mikbill";
1.pattern = "mikbill";

2.name = "MySQL";
2.desc = "Database";
2.init = "service {{ OS.database.percona.name }}";
2.pattern = "{{ OS.database.percona.name }}";

3.name = "Radius";
3.desc = "AAA Server";
3.init = "service {{ OS.radius.name }}";
3.pattern = "{{ OS.radius.name }}";

4.name = "DHCP";
4.desc = "DHCP server";
4.init = "service {{ OS.dhcp.name }}";
4.pattern = "{{ OS.dhcp.name }}";

5.name = "Unbound";
5.desc = "DNS server";
5.init = "service {{ OS.dns.name }}";
5.pattern = "{{ OS.dns.name }}";